<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://newcss.net/lite.css">
<title>{{ .DayOfWeek }} office roster lookup</title>
<style>#app { column-count: 3; }</style>
</head>
<body>
<div id="app">
<form>
<p>
<label>Date:<input name="date" value="{{ .Date }}" required type="date"></label>
</p>
<input type="submit">
</form>

<form>
<input type="hidden" name="date" value="{{ .Yesterday }}">
<input value="Yesterday" type="submit">
</form>

<form>
<input type="hidden" name="date" value="{{ .Tomorrow }}">
<input value="Tomorrow" type="submit">
</form>





<ol>
{{- range .Names -}}
<li>{{ . }}</li>
{{- end}}
</ol>

</body>
</html>
