<!DOCTYPE html>
<html lang=en>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="https://newcss.net/lite.css">
<title>{{ .DayOfWeek }} office roster lookup</title>
<style>
#controls { display: flex; }
#app ol { column-count: 3; }
</style>
</head>
<body>
<div id="app">
<form>
<label>Date:<input onchange="this.form.submit()" name="date" value="{{ .Date }}" required type="date"></label>
</form>

<div id="controls">
<form>
<input type="hidden" name="date" value="{{ .Yesterday }}">
<input title="{{ .Yesterday }}" value="Yesterday" type="submit">
</form>

<form>
<input type="hidden" name="date" value="{{ .Today }}">
<input title="{{ .Today }}" value="Today" type="submit">
</form>

<form>
<input type="hidden" name="date" value="{{ .Tomorrow }}">
<input title="{{ .Tomorrow }}" value="Tomorrow" type="submit">
</form>
</div>

<ol>
{{- range .Names -}}
<li>{{ . }}</li>
{{- end}}
</ol>

</body>
</html>
